

<!-- Modal -->
<ng-template id="content" #content let-modal>
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCloseHandled(false,false,false)"></button>
      </div>
      <div class="modal-body">
          <h2>Formulaire d'ajout de cours</h2>
           <form [formGroup]="ourform">
             <div class="container">
               <div class="col-md-5 mb-3">
                 <label id="jourCours">Jour: {{getDayFromInt(jourSelected)}}</label>
               </div>
               <div class="col-md-5 mb-3">
                 <label for="nomCour">Nom du cours</label>
                 <input class="form-control"  id="nomCour" formControlName="nomCour" type="text" aria-describedby="aideNomCours"/>
                 <small id="aideNomCours" class="form-text" *ngIf="ourform.controls['nomCour']?.errors?.['required']">Le nom du cours est requis.</small>
               </div>
               <div class="col-md-5 mb-3">
                 <label for="heure_debut">Heure de début</label>
                 <select id="heure_debut" class="form-select" aria-label="Default select example" formControlName="heure_debut" aria-describedby="aideHeureDebut">
                   <option *ngFor="let hour of hoursStart" [value]="hour.value" [id]="hour.value">{{hour.viewValue}}</option>
                 </select>
                 <small id="aideHeureDebut" class="form-text" *ngIf="ourform.controls['heure_debut']?.errors?.['required']">L'heure de début est requise.</small>
               </div>
               <div class="col-md-5 mb-3">
                 <label for="heure_fin">Heure de fin</label>
                 <select id="heure_fin" class="form-select" aria-label="Default select example" formControlName="heure_fin" aria-describedby="aideHeureFin">
                   <option *ngFor="let hour of hoursEnd" [value]="hour.value"  [id]="hour.value">{{hour.viewValue}}</option>
                 </select>
                 <small id="aideHeureFin" class="form-text" *ngIf="ourform.controls['heure_fin']?.errors?.['required']">L'heure de fin est requise.</small>
               </div>
               <div class="col-md-5 mb-3">
                 <label for="salleClasse">Salle de classe</label>
                 <select [(ngModel)]="selectedSalle" id="salleClasse" class="form-select" aria-label="Default select example" formControlName="salleClasse" aria-describedby="aideSalleClasse">
                   <option *ngFor="let salle of salleClasses" [ngValue]="salle.idSalleClasse"  [id]="salle.idSalleClasse">{{salle.nom}}</option>
                 </select>
                 <small id="aideSalleClasse" class="form-text" *ngIf="ourform.controls['salleClasse']?.errors?.['required']">La salle de classe est requise.</small>
               </div>
               <div class="col-md-5 mb-3">
                 <label for="matiere">Matière</label>
                 <select [(ngModel)]="selectedMatiere" id="matiere" class="form-select" aria-label="Default select example" formControlName="matiere" aria-describedby="aideMatiere">
                   <option *ngFor="let matiere of getBindedEnseignementsMatieres" [ngValue]="matiere.id"  [id]="matiere.id">{{matiere.nom}}</option>
                 </select>
                 <small id="aideMatiere" class="form-text" *ngIf="ourform.controls['matiere']?.errors?.['required']">La salle de classe est requise.</small>
               </div>
               <div class="col-md-5 mb-3">
                 <label for="enseignant">Enseignant</label>
                 <select [(ngModel)]="selectedEnseignant" id="enseignant" class="form-select" aria-label="Default select example" formControlName="enseignant" aria-describedby="aideEnseignant">
                   <option *ngFor="let enseignant of getBindedEnseignementsEnseignement(selectedMatiere)" [ngValue]="enseignant.idEns"  [id]="enseignant.idEns">{{enseignant.nom}}</option>
                 </select>
                 <small id="aideEnseignant" class="form-text" *ngIf="ourform.controls['enseignant']?.errors?.['required']">La salle de classe est requise.</small>
               </div>
               <div class="col-md-5 mb-3">
                 <label for="classe">Classe</label>
                 <input class="form-control"  id="classe" formControlName="classe" type="text" aria-describedby="aideCompanyName"/>
               </div>
             </div>
             <div class="modal-footer">
               <button (click) ="onCloseHandled(true,false,false)" id="addButton" type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Ajouter</button>
               <button (click)="onCloseHandled(true,true,false)" id="updateButton" type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Mettre à jour</button>
               <button (click)="onCloseHandled(false,false,true)" id="deleteButton" type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Supprimer</button>
             </div>
           </form>
       </div>
  </ng-template>
<br>

