

<!-- Modal -->
<ng-template id="content" #content let-modal>
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCloseHandled(false)"></button>
      </div>
      <div class="modal-body">
          <h2>Formulaire d'ajout de cours</h2>
           <form [formGroup]="ourform" (ngSubmit)="onCloseHandled(true)">
             <div class="container">
               <div class="col-md-5 mb-3">
                 <label id="jourCours">Jour: {{getDayFromInt(jourSelected)}}</label>
               </div>
               <div class="col-md-5 mb-3">
                 <label for="nomCour">Nom du cours</label>
                 <input class="form-control"  id="nomCour" formControlName="nomCour" type="text" aria-describedby="aideNomCours"/>
                 <small id="aideNomCours" class="form-text" *ngIf="ourform.controls['nomCour']?.errors?.['required']">Le nom du cours est requis.</small>
               </div>
               <div class="col-md-5 mb-3">
                 <label for="heure_debut">Heure de début</label>
                 <select id="heure_debut" class="form-select" aria-label="Default select example" formControlName="heure_debut" aria-describedby="aideHeureDebut">
                   <option *ngFor="let hour of hoursStart" [value]="hour.value" [id]="hour.value">{{hour.viewValue}}</option>
                 </select>
                 <small id="aideHeureDebut" class="form-text" *ngIf="ourform.controls['heure_debut']?.errors?.['required']">L'heure de début est requise.</small>
               </div>
               <div class="col-md-5 mb-3">
                 <label for="heure_fin">Heure de fin</label>
                 <select id="heure_fin" class="form-select" aria-label="Default select example" formControlName="heure_fin" aria-describedby="aideHeureFin">
                   <option *ngFor="let hour of hoursEnd" [value]="hour.value"  [id]="hour.value">{{hour.viewValue}}</option>
                 </select>
                 <small id="aideHeureFin" class="form-text" *ngIf="ourform.controls['heure_fin']?.errors?.['required']">L'heure de fin est requise.</small>
               </div>
               <div class="col-md-5 mb-3">
                 <label for="salleClasse">Salle de classe</label>
                 <select id="salleClasse" class="form-select" aria-label="Default select example" formControlName="salleClasse" aria-describedby="aideSalleClasse">
                   <option *ngFor="let salle of salleClasses" [value]="salle.idSalleClasse"  [id]="salle.idSalleClasse">{{salle.nom}}</option>
                 </select>
                 <small id="aideSalleClasse" class="form-text" *ngIf="ourform.controls['salleClasse']?.errors?.['required']">La salle de classe est requise.</small>
               </div>
               <div class="col-md-5 mb-3">
                 <label for="classe">Classe</label>
                 <input class="form-control"  id="classe" formControlName="classe" type="text" aria-describedby="aideCompanyName"/>
               </div>
               <div class="col-md-5 mb-3">
                 <label for="enseignement">Enseignement</label>
                 <input class="form-control"  id="enseignement" formControlName="enseignement" type="text" aria-describedby="aideCompanyName"/>
               </div>
             </div>
             <div class="modal-footer">
               <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Ajouter</button>
             </div>
           </form>
       </div>
  </ng-template>
<br>

