<div class="col-sm-8 col-sm-offset-2">
  {{clientForm.value | json}}
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstname" > Prénom </label>
      <input class="form-control" id="firstname" name="firstname" formControlName="username">
    </div>
    <button class="btn btn-primary"  type="submit">Enregistrer</button>

  </form>
  <button class="btn btn-primary"  (click)="get()" type="button">Liste des clients</button>

  <div *ngFor="let client of clients">{{client.username }}</div>
</div>
