<div class="row">
  {{formulaire.value | json}}
  <ul *ngIf="isSubmited" class="alert-danger">
    <li *ngIf="formulaire.controls['name']?.errors?.['required']">
      The name is missing
    </li>
    <li *ngIf="formulaire.controls['status']?.errors?.['required']">
      The status is missing
    </li>
  </ul>
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="OnSubmit()" [formGroup]="formulaire" >
      <div class="form-group">
        <label for="name" > Nom de l'appreil</label>
        <input type="text" id="name" class="form-control" name="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="status">Etat de l'appareil</label>
        <select name="status" id="status" class="form-control" formControlName="status">
          <option value="allumé" >Allumé</option>
          <option value="éteint" >Etient</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="formulaire.invalid">Enregistrer</button>
    </form>
  </div>
</div>
